@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Default CSS  */
body {
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
}

.parent {
    border: 5px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.parent div {
    height: 200px;
    /* flex-basis: 500px;
    flex-grow: 1; */
    flex: 1 0 400px;

}

.child1 {
    background-color: rgb(138, 116, 120);
}

.child2 {
    background-color: yellowgreen;
}

.child3 {
    background-color: royalblue;
}

