@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Default CSS  */
body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    background-color: #eee;
    height: 100vh;
}

/* Reset CSS */
a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.container {
    display: flex;
}

nav {
    flex: 1;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 4;
}

.inner {
    display: flex;
}

header {
    background-color: royalblue;
    height: 150px;
    text-align: center;
    line-height: 150px;
}

section {
    display: flex;
    flex-direction: column;
    flex: 4;
}


article {
    background-color: yellowgreen;
    height: calc(100vh - 300px);
}

aside {
    flex: 1;
    background-color: wheat;
}

footer {
    background-color: royalblue;
    height: 150px;
    text-align: center;
    line-height: 150px;
}

article,
aside {
    display: flex;
    justify-content: center;
    align-items: center;
}



