@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Default CSS  */
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
    font-size: 15px;
    color: #222;
    line-height: #222;
    line-height: 1.5em;
    font-weight: 300;
}

/* font-weight : normal 400 */
/* font-weight : bold 600 */



/* Reset CSS */
a { text-decoration: none; color: black;}
button { cursor: pointer; outline: none; }
h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: 500; }
input, textarea, select { outline: none; }
button, input, textarea, select { font-family: 'Montserrat', sans-serif; }
ul { margin: 0; padding: 0; list-style: none; }

/* Common CSS */
.inner {
    width: 1300px;
    margin: auto;
}


/* ---------------------------Header---------------------------- */

header {
    position: fixed;
    width: 100%;
}


.banner {
    background-color: #000;
    height: 40px;
    display: flex;
    align-items: center;
}
.lnb {
    width: 1300px;
    margin: auto;
    text-align: right;
    /* display: flex;
    justify-content: flex-end; */
}
.lnb a {
    color: #ddd;
    margin: 10px;
}

.lnb a:last-child {
    margin-right: 0;
}

.lnb a em {
    color: #bbb;
}

nav {
    width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo {}
.gnb {
    display: flex;
}
.gnb li {}
.gnb li a {
    margin: 15px;
    color: #fff;
}

.gnb li a:hover {
    color: #ddd;
}



.gnb li a:last-child {
    margin-right: 0;
}

/* --------------------------------Intro------------------------------- */
.intro {
    height: 100vh;
    background: url(../images/intro.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.heading {
    color: #fff;
    text-align: center;
}

.heading h1 {
    font-size: 70px;
    margin-bottom: 40px;
}

.heading p {
    font-size: 22px;
    line-height: 1.5em;
}

/* ------------------------------------about----------------------------- */

.about-content {
    display: flex;
    padding: 150px 0;
}

.about-content div {
    padding: 30px;
}

.desc {
    text-align: center;
    flex: 3;
}
.desc h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
.desc p {
    font-size: 16px;
    line-height: 1.7em;
}
.desc a {
    color: #c25a3a;
    font-weight: bold;
}

.desc a:hover {
    text-decoration: underline;
}


.photo {
    flex: 2;
}
.photo img {
    width: 100%;
    border-radius: 40% 60% 65% 35% / 40% 45% 65% 60%;
}

/* -------------------------Ranking Section------------------------------  */
.ranking {
    background-color: #f8f8f8;
}
.ranking-content {
    padding: 100px 0; 
}
.ranking-content h2 {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 50px;
}
.items {
    display: flex;
    justify-content: space-between;
}
.item {
    width: 390px;
    height: 550px;
    border-radius: 30px 0 30px 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.096);
    overflow: hidden;
}

.up-image {
    width: 390px;
    height: 285px;
}
.up-image img {
    height: 100%;
}
.down-desc {
    padding: 25px;
}
.down-desc h3 {
    font-size: 22px;
    margin: 15px 0;
}
.down-desc p {
    font-size: 16px;
}
.btn-explore {
    color: #c25a3a;
    font-weight: 500;
}

.btn-explore img {
    transition: 0.3s;
}

.btn-explore:hover img {
    transform: translateX(15px);
}

.badge {
    background-color: #e60012;
    color: #fff;
    padding: 2px 10px;
    font-size: 16px;
}

.badge.good {
    background-color: #00a0e9;
}







/* -------------------------Testimonial Section------------------------------  */



/* -------------------------callAction Section------------------------------  */

.callaction {
    height: 450px;
    background: url(../images/callaction-01.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callaction:before {
    content: '';
    background: linear-gradient(to right, rgba(48, 7, 48, 0.507), rgba(88, 88, 7, 0.836));
    width: 100%;
    height: 100%;
    position: absolute;
}

.callaction-heading {
    text-align: center;
    position: relative;
}
.callaction-heading h2 {
    color: #fff;
    font-size: 48px;
    line-height: 1.3em;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 50px;
}

.callaction-heading h2 b {
    font-weight: 500;
}

.callaction-heading a {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
}

/* -------------------------Blog Section------------------------------  */



/* -------------------------Festival Section------------------------------  */
.festival {
    height: 270px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.festival-heading {
    text-align: center;
    color: #fff;
}

.festival-heading h3 {
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
}

.festival-heading h3 span {
    font-weight: 500;
}

.btns a {
    background-color: #fff;
    width: 200px;
    display: inline-block;
    padding: 6px;
    border-radius: 5px;
    margin: 5px;
    font-weight: 400;
    font-size: 16px;
}

.btns a:nth-child(1) {
    background-color: #fac53b;
    color: #fff;
}

.btns a:nth-child(2) {
    background-color: #ededed;
    color: #333;
}

/* -------------------------Footer------------------------------  */

footer {
    background-color: #000;
    padding: 30px 0; 
}

.footer-content {
    display: flex;
}

.footer-content ul {
    text-align: center;
}

.footer-content ul li {
    font-weight: 500;

}

.footer-content ul li:first-child {
    color: #d9d9d9;
    font-weight: 500;
}

.footer-content ul li a {
    color: #959595;
}

.footer-content ul li a:hover {
    text-decoration: underline;
}

.community {
    flex: 1;
}

.network {
    flex: 1;
}

.help {
    flex: 2;
}

.help li {
    color: #959595;
}

.help li:last-child {
    margin-top: 35px;
    color: #eee;
}





