@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Default CSS  */
body {
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    margin: 0;
}

/* Reset CSS */
a { text-decoration: none; color: #222}
button { cursor: pointer; outline: none; }
h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: normal; }


header {
    display: flex;
    background-color: royalblue;
    justify-content: center;
    align-items: center;  
    height: 60px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    
}

.logo img {
    filter: invert();
}

.gnb {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.gnb li {
    list-style: none;
}

.gnb li a {
    color: white;
    margin: 10px;
}

.sns{}

.sns a {
    color: white;
    margin: 10px;
}

.gnb li a:hover,
.sns a:hover {
    color: black;
}

.trigger {
    display: none;
}


@media (max-width:768px) {

    header {
        height: auto;
    }

    nav {
        flex-direction: column;
        position: relative;
    }

    .logo {
        padding: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .gnb {
        flex-direction: column;
        text-align: center;
    }

    .gnb li a {
        display: block;
        margin: 0;
        padding: 8px;
    }

    .sns {
        text-align: center;
        background-color: rgba(114, 189, 219, 0.973);
        padding: 5px 0;
    }

    .sns a {
        color: black;
    }

    .gnb,
    .sns {
        display: none;
    }

    .trigger {
        width: 25px;
        height: 15px;
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;
    }

    .trigger span {
        background-color: white;
        height: 1px;
        position: absolute;
        width: 100%;
        transition: 0.3s;
    }

    .trigger span:nth-child(1) {
        top: 0;
    }
    .trigger span:nth-child(2) {
        top: 50%;
    }
    .trigger span:nth-child(3) {
        top: 100%;
    }

    .trigger.active span:nth-child(1) {
        transform: rotate(45deg);
        top: 50%;
    }
    .trigger.active span:nth-child(2) {
        opacity: 0;
    }
    .trigger.active span:nth-child(3) {
        transform: rotate(-45deg);
        top: 50%;
    }

    .gnb.active,
    .sns.active {
      display: block;
    }



}