@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Default CSS  */
body {
    font-family: 'Noto Sans KR', sans-serif;
    height: 100vh;
    margin: 0;
}

/* Reset Css */
a { text-decoration: none; color: black;}
button { cursor: pointer; outline: none; }
h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: normal; }
input, textarea, select { outline: none; }
button, input, textarea, select { font-family: 'Noto Sans KR', sans-serif; }

section {
    width: 1000px;
    margin: auto;
}

.header {
}

.gnb {
    padding: 30px 0;
    text-align: right;
}

.gnb a {
    margin: 15px;
    position: relative;
    padding-bottom: 8px;
}

.gnb a:after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: 0;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    transition: 0.3s;
}

.gnb a:hover:after {
    width: 100%;
}

.search-box {
    display: flex;
    justify-content: space-between;

}

.search-box input {
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    padding: 5px;
    background: url(../../image/search.png) no-repeat center right ;
    background-size: 22px;
    width: 300px;
    box-sizing: border-box;
}

.search-box input:focus::placeholder {
    visibility: hidden;
}



.search-box button {
    background-color: crimson;
    color: white;
    padding: 10px 60px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    box-shadow: 0 0 20px black;
    transition: 0.3s;
}

.search-box button:hover {
    background-color: black;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.item {
    width: 320px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.item img {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    section {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .item {
        width: 49%;
        height: 250px;
    }
}

@media (max-width: 767px) {
    section {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .item {
        width: 100%;
        height: 250px;
    }

    .search-box {
        flex-direction: column;
    }

    .search-box input {
        width: 100%;
        margin-bottom: 30px;
    }

    .gnb {
        text-align: center;
    }


}




